fastapi==0.88.0
uvicorn==0.22.0
jinja2==3.1.2
python-dotenv==1.0.0
boto3==1.28.0
aiobotocore==2.5.0

# ML and image processing packages
tensorflow==2.12.0
opencv-python-headless==4.8.0.74
numpy==1.24.3
keras==2.12.0

# Logging and Utilities
loguru==0.7.0
pydantic==1.10.8
